@page
@model ExpensesReimbursement.Pages.Expenses.IndexModel
@{
    ViewData["Title"] = "Expenses";
}

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Expense expense in Model.Expenses)
            {
                <tr>
                    <td>
                        @expense.Date
                    </td>
                    <td>
                        @expense.Description
                    </td>
                    <td>
                        @expense.Price
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@expense.Id">Edit</a> |
                        <button type="submit" asp-page-handler="delete" asp-route-id="@expense.Id" class="btn btn-primary">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
<a asp-page="Create">Create new expense</a>
